
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5fff5;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #1f6220ff;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #c1f0c1;
}


.slider {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.prev { left: 20px; }
.next { right: 20px; }

.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.7);
}


.about {
  text-align: center;
  padding: 60px 20px;
  background-color: #e8f5e9;
}

.about h2 {
  font-size: 2em;
  color: #1f6220ff;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.1em;
  line-height: 1.6;
  max-width: 800px;
  margin: auto;
}

.gallery-section {
  padding: 50px 20px;
  text-align: center;
}

.gallery-title {
  font-size: 2.3rem;
  margin-bottom: 25px;
  color: #1f6220ff;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
}

.gallery-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.fullscreen-slider {
  width: 100%;
  height: 100vh !important;
  position: relative;
  overflow: hidden;
}

.fullscreen-slider .slide-image {
  width: 100%;
  height: 100vh !important;
  object-fit: cover;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 40px;
  color: white;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.prev { left: 20px; }
.next { right: 20px; }

.chatbot-btn {
  position: fixed;
  top: 25px;
  right: 25px;
  background: #1f6220ff;
  color: white;
  border: none;
  font-size: 30px;
  padding: 18px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 5px 12px rgba(0,0,0,0.3);
  z-index: 200;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    flex-direction: column;
    padding: 15px 25px;
  }

  .slide-image {
    height: 50vh;
  }

  .features {
    flex-direction: column;
    gap: 20px;
  }
}
